body {
    background-color: #061724;
    color: white;
}

p {
    margin-top: 0;
}

input {
    height: 100%;
    width: 95%;
    margin: 0;
    background: transparent;
    caret-color: transparent;
    border: none;
    color: white;
    font-size: 30px;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
}

.grid-container {
    display: grid;
    width: 36rem;
    margin: auto;
    grid-template-columns: repeat(9, 4rem);
    grid-template-rows: repeat(9, 4rem);
    padding-top: 15vh;
}

@media only screen and (max-width: 768px) {
    .grid-container {
        width: 36rem;
        grid-template-columns: repeat(9, 4rem);
        grid-template-rows: repeat(9, 4rem);
    }
}

.grid-item {
    border: 1px solid white;
    font-size: 30px;
    text-align: center;
    transition: 0.1s;
    animation-name: animateIn;
    animation-duration: 350ms;
    animation-delay: calc(var(--animation-order)*100ms);
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    box-sizing: border-box;
    padding-top: 20%;
    caret-color: transparent;
}
.grid-item:hover {
    transform: scale(1.1);
}
@keyframes animateIn {
    0% {
        opacity: 0;
        transform: scale(1) translateY(-8px);
    }

    100% {
        opacity: 1;
    }
}